.profile {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 750px;
    margin-left: 750px;
    text-align: center;
    border: 7px groove red;
    align-content: center;
}

.about-list {
    font-size: 20px;
}

.coding-description {
    font-size: 20px;
}