* {
	font-family: 'Itim', cursive;
	background-color: #333;
	color: white;
}

hr {
  border: 4px lawngreen dashed;
}

a {
    color: aqua;
}

a:hover {
    color: orangered;
}

p {
  font-size: 20px;
}

blockquote {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

.closebtn {
  color: white;
  font-size: 10px;
}

.small-hr {
  width: 5%;
}