* {
    font-family: 'Itim', cursive;
    background-color: #333;
    color: white;
}

.title {
    text-align: center;
}

hr {
    border: 6px dashed orange;
}

a {
    color: aqua;
}
a:hover {
    color: orange;
    transition: ease-in;
}

p {
    font-size: 20px;
}

ol {
    font-size: 20px;
}

@media print {
    * {
        font-size: 12pt;
    }
}